<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.microsoft.playwright.androiddriver">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Playwright Android Driver"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true" />

</manifest>