{
  "assumptions": {
    "setPublicClassFields": true
  },
  "presets": [
    "@babel/preset-typescript"
  ],
  "plugins": [
    "@babel/plugin-proposal-export-namespace-from",
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-proposal-optional-chaining",
    "@babel/plugin-transform-modules-commonjs"
  ],
  "ignore": [
    "**/*.d.ts",
    "src/injected/**/*"
  ]
}
