test/assets/modernizr.js
lib/
*.js
src/generated/*
src/third_party/
/types/*
/index.d.ts
utils/generate_types/overrides.d.ts
utils/generate_types/test/test.ts
node_modules/
browser_patches/*/checkout/
browser_patches/chromium/output/
**/*.d.ts
output/
/test-results/
