/node_modules/
/test/output-chromium
/test/output-firefox
/test/output-webkit
/test/test-user-data-dir*
/.local-chromium/
/.local-firefox/
/.local-webkit/
/.dev_profile*
.DS_Store
*.swp
*.pyc
.vscode
package-lock.json
yarn.lock
/node6
/src/generated/*
/src/chromium/protocol.ts
/src/firefox/protocol.ts
/src/webkit/protocol.ts
lib/
playwright-*.tgz
/web.js
/web.js.map
