/node_modules/
/test-results/
/test/coverage-report
/test/test-user-data-dir*
.local-browsers/
/.dev_profile*
.DS_Store
*.swp
*.pyc
.vscode
yarn.lock
/node6
/src/generated/*
lib/
/types/*
jest-report.json
drivers/
/docs/api.json
