/node_modules/
/test-results/
/tests/coverage-report
.local-browsers/
/.dev_profile*
.DS_Store
*.swp
*.pyc
.vscode
.idea
yarn.lock
/src/generated/*
lib/
drivers/
.android-sdk/
.gradle/
nohup.out
.trace
.tmp