**/*

# include sources from lib except for injected
!lib/**/*.js
# Injected files are included via lib/generated, see src/injected/README.md
lib/injected/

# include root helpers
!chromium.js
!DeviceDescriptors.js
!Errors.js
!firefox.js
!index.js
!webkit.js
