# this ignores everything by default, except for package.json and LICENSE and README.md
# see https://docs.npmjs.com/misc/developers
**/*

# include sources from lib except for injected, but not map files
!lib/**/*.js
# Injected files are included via lib/generated, see src/injected/README.md
lib/injected/
#types
!lib/**/*.d.ts
!index.d.ts

# used for npm install scripts
!download-browser.js

# root for "playwright-core" package
!index.js

# root for "playwright-core/web"
!web.js
