# NOTE: .npmignore is copied over to every subpackage in //packages when NPM packages
# are built.
#
# this ignores everything by default, except for package.json and LICENSE and README.md
# see https://docs.npmjs.com/misc/developers
**/*

# include sources from lib except for injected, but not map files
!lib/**/*.js
# Include Windows dependency checker executable.
!bin/PrintDeps.exe
# Injected files are included via lib/generated, see src/injected/README.md
lib/injected/
#types
!types/*
!index.d.ts

!index.js
!index.mjs
!install.js
!README.md
!LICENSE
!NOTICE
!api.md
!protocol.yml

# browser descriptor
!browsers.json
