language: node_js
node_js:
  - "12"
notifications:
  email: false

install:
- npm ci

env:
- BROWSER=chromium
- BROWSER=firefox
- BROWSER=webkit

jobs:
  include:
    - os: linux
      dist: bionic
      node_js: '12'
      addons:
        apt:
          packages:
          # These are required to run webkit
          - libwoff1
          - libopus0
          - libwebp6
          - libwebpdemux2
          - libenchant1c2a
          - libgudev-1.0-0
          - libsecret-1-0
          - libhyphen0
          - libgdk-pixbuf2.0-0
          - libegl1
          - libgles2
          - libevent-2.1-6
          - libnotify4
          - libxslt1.1
          - libvpx5
          # gstreamer and plugins to support video playback in WebKit.
          - gstreamer1.0-gl
          - gstreamer1.0-plugins-base
          - gstreamer1.0-plugins-good
          - gstreamer1.0-plugins-bad
          # This is required to run chromium
          - libgbm1
          # this is needed for running headful tests
          - xvfb
      script:
        - echo "npm test temporarily disabled"
        - npm run build
        - xvfb-run --auto-servernum npm run jest -- --testTimeout=30000
    - os: osx
      osx_image: xcode11.3
      node_js: '12'
      script:
        - echo "npm test temporarily disabled"
        - npm run build
        - npm run jest -- --testTimeout=30000
