html {
    font-family:DejaVu Sans, Bitstream Vera Sans, Arial, Sans;
}

table#steps {
    border-collapse:collapse;
    table-layout:fixed;
    width:100%;
}

table#steps th:last-child,
table#steps td:last-child {
    width:70%;
}

// table#steps.assertions th:last-child,
// table#steps.assertions td:last-child {
//    width:35%;
// }

table#steps th {
    padding:0;
    padding-bottom:0.25;
    border-bottom:medium solid black;
}

table#steps td {
    padding-top:0.25em;
    padding-bottom:0.25em;
    padding-left:0.5em;
    padding-right:0.5em;
    border-right:thin solid black;
    border-top:thin solid black;
    border-bottom:thin solid black;
}

table#steps td.step, table#steps td.type, table#steps td.element {
    vertical-align:top;
}
table#api {
    border-collapse:collapse;
    table-layout:fixed;
    width:100%;
}

// table#steps.assertions th:last-child,
// table#steps.assertions td:last-child {
//    width:35%;
// }

table#api th {
    padding:0;
    padding-bottom:0.25;
    border-bottom:medium solid black;
}

table#api td {
    padding-top:0.25em;
    padding-bottom:0.25em;
    padding-left:0.5em;
    padding-right:0.5em;
    border-right:thin solid black;
    border-top:thin solid black;
    border-bottom:thin solid black;
}

table#api td.step, table#api td.type, table#api td.element {
    vertical-align:top;
}
}
