name: "components"

on:
  push:
    branches:
      - main
      - release-*
  pull_request:
    paths-ignore:
      - 'browser_patches/**'
      - 'docs/**'
    branches:
      - main
      - release-*

env:
  FORCE_COLOR: 1

jobs:
  test_components:
    name: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-node@v2
      with:
        # Component tests require Node.js 16+ (they require ESM via TS)
        node-version: 16
    - run: npm i -g npm@8.3
    - run: npm ci
    - run: npm run build
    - run: npx playwright install --with-deps
    - run: npm run ct
