name: create-playwright CI
on:
  push:
    branches: [ master ]
    paths:
      - 'packages/create-playwright/**/*'
      - '.github/workflows/package_create_playwright.yml'
  pull_request:
    branches: [ master ]
    paths:
      - 'packages/create-playwright/**/*'
      - '.github/workflows/package_create_playwright.yml'
jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        node-version: [12.x, 14.x, 16.x]
    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v2
      with:
        node-version: ${{ matrix.node-version }}
        cache: 'npm'
    - run: npm i -g npm@7
    - run: npm ci
    - run: npm i -g npm@8
    - run: npm run test
      working-directory: packages/create-playwright/
