name: create-playwright CI
on:
  push:
    branches: [ master ]
    paths:
      - 'packages/create-playwright/**/*'
  pull_request:
    branches: [ master ]
    paths:
      - 'packages/create-playwright/**/*'
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js
      uses: actions/setup-node@v2
      with:
        node-version: 14
        cache: 'npm'
    - run: npm i -g npm@7
    - run: npm ci
    - run: npm i -g npm@8
    - run: npm run test
      working-directory: packages/create-playwright/
