name: "electron"

on:
  push:
    branches:
      - main
      - release-*
  pull_request:
    paths-ignore:
      - 'browser_patches/**'
      - 'docs/**'
    types: [ labeled ]
    branches:
      - main
      - release-*

env:
  # Force terminal colors. @see https://www.npmjs.com/package/colors
  FORCE_COLOR: 1
  FLAKINESS_CONNECTION_STRING: ${{ secrets.FLAKINESS_CONNECTION_STRING }}

jobs:
  test_electron:
    name: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-node@v2
      with:
        node-version: 14
    - run: npm i -g npm@8
    - run: npm ci
      env:
        PLAYWRIGHT_SKIP_BROWSER_DOWNLOAD: 1
    - run: npm run build
    - run: npx playwright install --with-deps chromium
    - run: xvfb-run --auto-servernum --server-args="-screen 0 1280x960x24" -- npm run etest
      if: matrix.os == 'ubuntu-latest'
    - run: npm run etest
      if: matrix.os != 'ubuntu-latest'
    - run: node tests/config/checkCoverage.js electron
      if: always() && matrix.os == 'ubuntu-latest'
    - run: ./utils/upload_flakiness_dashboard.sh ./test-results/report.json
      if: always() && matrix.os == 'ubuntu-latest'
    - uses: actions/upload-artifact@v1
      if: always() && matrix.os == 'ubuntu-latest'
      with:
        name: electron-linux-test-results
        path: test-results
